*{
    margin: 0;
    padding:0;
}

:root{
    --cor-primaria: #de3660; 
    --cor-secundaria: #c68be8;
    --cor-tercearia: #7678ed;
    --cor-quaternaria: #3772ff;
    --cor-quinaria: #cbeef3;
    --cor-senaria: #709775;
}

body{
    background-color: rgb(91, 124, 15);
    color:lawngreen;
}

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-um: #de3660;
    --cor-dois: #c68bed;
    --cor-tres: #7678ed;
    --cor-quatro: #cbeef3;
    --cor-cinco: #709775;
    --texto-corpo: "Raleway", sans-serif;
    --texto-titulo: "Sendam SC", serif;
}

body{
    background-color: rgb(25, 200, 192);
    color: rgb(0, 0, 0);
}
.cabecalho{
    background-color: var(--cor-quatro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.cabecalho-img{
    width: 10%;
    border-radius: 100% ;
}

.cabecalho-nav_link{
    text-decoration: none;
    font-family: var(--texto-titulo);
    font-size: 24px;
    color: var(--cor-um);
    margin-right: 24px;
}

.principal-capa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-image: url(img/images\ \(2\).jpeg);
}